  .result-card:after {
      background: white !important;
  }

  .result-display {
    margin: auto;
    font-size: 3em;
    padding-bottom: 30px;
  }

  .scoring-status {
    font-size: 0.6em;
  }

  .distress {
    border: 1px solid red !important;
    font-size: 2em !important;
    margin: auto;
    background: rgba(244,54,1,1) !important;
	  background: -moz-linear-gradient(45deg, rgba(244,54,1,1) 0%, rgba(244, 1, 54, 1) 100%) !important;
	  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(244,54,1,1)), color-stop(100%, rgba(244,1,54,1))) !important;
	  background: -webkit-linear-gradient(45deg, rgba(244,54,1,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: -o-linear-gradient(45deg, rgba(244,54,1,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: -ms-linear-gradient(45deg, rgba(244,54,1,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: linear-gradient(45deg, rgba(244,54,1,1) 0%, rgba(244,1,54,1) 100%) !important;
  }

  .distress:hover {
    color: red !important;
    font-weight: bold !important;
    background: white !important;
    outline-color: red !important;
  }

  .number {
    font-size: 2em !important;
  }

  .contact {
    border: 1px solid purple !important;
    font-weight: bold;
    background: rgba(244,54,1,1) !important;
	  background: -moz-linear-gradient(45deg, rgba(255,5,247,1) 0%, rgba(244, 1, 54, 1) 100%) !important;
	  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,5,247,1)), color-stop(100%, rgba(244,1,54,1))) !important;
	  background: -webkit-linear-gradient(45deg, rgba(255,5,247,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: -o-linear-gradient(45deg, rgba(255,5,247,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: -ms-linear-gradient(45deg, rgba(255,5,247,1) 0%, rgba(244,1,54,1) 100%) !important;
	  background: linear-gradient(45deg, rgba(255,5,247,1) 0%, rgba(244,1,54,1) 100%) !important;
  }

  .contact:hover {
    color: rgba(245, 0, 159, 1) !important;
    font-weight: bold !important;
    background: white !important;
    outline-color: red !important;
  }

  .news-heading {
    font-size: 0.8em;
    color: black !important;
  }

  .news-heading:hover {
    text-decoration: underline;
    color: purple !important;
  }

  .news-text {
    color: rgb(212, 139, 30);
  }

  th {
    font-size: 1.5em;
    font-weight: bold;
  }

  td {
    font-size: 1.2em;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  .loader {
    color: #48d5c7;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  